/*--- GENERAL STYLES ---*/

html {
    font-size: 18px;
}

body {
    font-family: Helvetica;
    line-height: 1.4;
}

/*--- CONTAINERS AND FLEX ---*/

.container {
    width: 960px;
    margin: auto;
}

.flex {
    display: flex;
}

/*--- HEADER ---*/

header {
    background: url(../images/glasses-bg.png) no-repeat center/cover;
/*    width: 100%;*/
    height: 31rem;
    color: white;
    padding-top: 1rem;
}

.nav-bar {
    background-color: cadetblue;
    justify-content: space-between;
}

.navigation span {
    padding: 1rem 2rem;
}

.logo {
    align-items: center;
}

.logo img {
    height: 1.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.logo p {
    font-size: 1rem;
}

.cell {
    visibility: hidden;
    display: none;
}

    /*--- BANNER ---*/

.banner {
    margin-top: 10rem;
    width: 40%;
    position: relative;
    left: 45%;
}

.banner h1 {
    background-color: white;
    color: black;
    padding: 1.5rem 5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.2;
}

/*--- MAIN CONTENT ---*/

    /*--- SERVICES ---*/

#services {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.product-container {
    width: 5rem;
    height: 8rem;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 3rem;
}


.products {
    justify-content: center;
}

.product-img {
    width: 3.5rem;
    height: auto;
}

.exams,
.fittings,
.delivery {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



/*--- CONTACTS ---*/


#contact {
    justify-content: space-around;
}

.subtitle {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: cadetblue;
    padding: 0.5rem 0 0.5rem 1.25rem;
    width: 10rem;
    margin-bottom: 1rem;
}

.contact-container {
    width: 35%;
}

.philosophy {
    margin-right: 5%;
}

.philosophy,
.appointments {
    margin-bottom: 5rem;
}


/*--- FOOTER ---*/

footer {
    background-color: azure;
}

.logo-img-footer {
    height: 1.5rem;
    margin: 4rem 1rem 4rem 4rem;
}

.test {
    align-content: center;
}


/*------- MEDIA QUERIES ------*/


/*--- TABLET ---*/

@media only screen and (max-width: 768px) {
  
     /*--- CONTAINER ---*/
    
    .container {
        width: 100%;
        margin: auto;
    }
    
    /*--- HEADER ---*/
    
    
    header {
        padding-top: 0;
        height: 22rem;
    }
    
        /*--- BANNER ---*/

        .banner {
            margin-top: 5rem;
            width: 57%;
            position: relative;
            left: 42%;
            top: 15%;
            margin-right: 2rem;
        }

        .banner h1 {
            background-color: white;
            color: black;
            padding: 0.75rem 4rem;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.33rem;
            line-height: 1.2;
        }
}
    

/*--- Cellphone ---*/

@media only screen and (max-width: 480px) {
  
     /*--- CONTAINER ---*/
    
    .container {
        width: 100%;
        margin: auto;
    }
    
    /*--- HEADER ---*/
    
    
        header {
            padding-top: 0;
            height: 22rem;
            background-position: 20%;
        }
    
        .logo {
            padding: 0.5rem;
        }
    
        .cell {
            visibility: visible;
            display: flex;
            align-items: center;
        }
    
        .navigation span {
            visibility: hidden;
            display: none;
        }
    
        .logo p {
            visibility: hidden;
            display: none;
        }
    
        .nav-bar {
            justify-content: space-around;
        }
    
        /*--- BANNER ---*/

        .banner {
            margin-top: 9rem;
            width: 100%
            margin: auto;
            text-align: center;
        }

        .banner h1 {
            background-color: white;
            color: black;
            padding: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 1.2;
        }
    

    
        /*--- SERVICES ---*/

        #services {
            margin: 3.77rem 0;
        }

        .products {
            flex-direction: column;
            align-items: center;
            font-size: 0.77rem;
        }

        .product-container {
            margin-top: 1.54;
        }
    
        /*--- CONTACT ---*/

        #contact {
            flex-direction: column;
            justify-content: center;
        }

        .subtitle {
            font-size: 1rem;
            font-weight: bold;
            color: white;
            background-color: cadetblue;
            padding: 0.5rem 0 0.5rem;
            margin-bottom: 1rem;
            width: 100%;
            text-align: center;
        }
    
        #contact p {
            font-size: 0.77rem;
        }

        .contact-container {
            width: 100%;
        }

        .philosophy,
        .appointments {
            margin-bottom: 4rem;
        }
    
        /*--- FOOTER ---*/
    
        .logo {
            justify-content: center;
        }
    
        .copy {
            visibility: hidden;
            display: none;
        }
}
    
    
















